In [1]:
# 1. Write a program to reverse a string.

a = str(input())

a_reverse = a[::-1]

print(a_reverse)

 Taapas

sapaaT

In [4]:
#2. Check if a string is a palindrome.

b = str(input())

if b == b[::-1]:
    print(b,"is a palindrome")
else:
    print(b,"is a not palindrome")

 level

level is a palindrome

In [8]:
# 3. Convert a string to uppercase.

c = str(input())

uppercase_c = c.upper()

print(uppercase_c)

 taapas

TAAPAS

In [9]:
# 4. Convert a string to lowercase.

d = str(input())

lowercase_d = d.lower()

print(lowercase_d)

 Taapas

taapas

In [13]:
#5. Count the number of vowels in a string.

e = str(input())
count_vowels = 0
for i in e:
    if i in "aeiouAEIOU":
        count_vowels += 1
        
print(count_vowels)

 taapas

3

In [15]:
#6. Count the number of consonants in a string.

f = str(input())
Count_consonants = 0
for i in f:
    if i in "bcdfghjklmnpqrstvwxyz":
        Count_consonants += 1
        
print(Count_consonants)

 pwskills

7

In [19]:
#7. Remove all whitespaces from a string.

g = str(input())

clear_whitespace = g.replace(" ","")

print(clear_whitespace)

 Taapas Sharma

TaapasSharma

In [21]:
# 8. Find the length of a string without using the `len()` function.

h = str(input())

length_str = h.count(

print(length_str)

 taapas

1

In [1]:
# 9. Check if a string contains a specific word.

i = str(input("Enter your sentnce"))

# specific word is Python 


if "Python" in i:
    print(True)
else:
    print(False)

Enter your sentnce I am learning Python

True

In [2]:
# 10. Replace a word in a string with another word.

j = "I is learning Python"

j.replace("is","am")

'I am learning Python'

In [3]:
# 11. Count the occurrences of a word in a string.

k = "I am learning Python"

k.count("Python")

1

In [4]:
# 12. Find the first occurrence of a word in a string.

l = "Taapas"

l_first = l[0]

print(l_first)

T

In [1]:
# 13 Find the last occurrence of a word in a string.

"no idea"

'no idea'

In [6]:
# 14 Split a string into a list of words.

m = "Taapas Sharma"

print(m.split())

['Taapas', 'Sharma']

In [10]:
# 15 Join a list of words into a string.

n = "Taapas Sharma"

print(n.join(n))

TTaapas SharmaaTaapas SharmaaTaapas SharmapTaapas SharmaaTaapas SharmasTaapas Sharma Taapas SharmaSTaapas SharmahTaapas SharmaaTaapas SharmarTaapas SharmamTaapas Sharmaa

In [12]:
# 16 Convert a string where words are separated by spaces to one where wordsare separated by underscores.

o = "I am learning python"
o_= o.replace(" ","_")
print(o_)

I_am_learning_python

In [13]:
o_space = o_.replace("_"," ")
print(o_space)

I am learning python

In [15]:
# 17. Check if a string starts with a specific word or phrase.
p = "I am learning python"

prefix = "I"
if p.startswith(prefix):
    print("string starts with",prefix)
else:
    print("string do not starts with",prefix)

string starts with I

In [16]:
# 18. Check if a string ends with a specific word or phrase.
q = "I am learning python"

prefix = "I"

if q.endswith(prefix):
    print("string ends with",prefix)
else:
    print("string do not end with",prefix)

string do not end with I

In [18]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

r = "hello world"
print(r.title())

Hello World

In [19]:
# Find the longest word in a string.

s = str(input())

ss = s

 hello world

2

In [20]:
# 22 Reverse the order of words in a string.
s = "hello world"

print(s[::-1])

dlrow olleh

In [24]:
# 23. Check if a string is alphanumeric.

t = "My age is 23"

print(t.isalnum())

False

In [28]:
# 24. Extract all digits from a string.

t = "My age is 23"
digits = []
for ii in t:
    if ii in "0123456789":
        digits.append(ii)
print(digits)

['2', '3']

In [31]:
# 25. Extract all alphabets from a string.

tt = "My age is 23"
alphabets = []
for ii in tt:
    if ii in "abcdefghijklmnopqrstABCDEFGHIJKLMNOPQRST": #added both capital and lower case
        alphabets.append(ii)
print(alphabets)

['M', 'a', 'g', 'e', 'i', 's']

In [32]:
#26 Count the number of uppercase letters in a string.

ttt = "My age is 23"
upper_alphabets = []
for ii in ttt:
    if ii in "ABCDEFGHIJKLMNOPQRST": #only added upper case
        upper_alphabets.append(ii)
print(upper_alphabets)

['M']

In [33]:
# 27 Count the number of lowercase letters in a string.

tttt = "My age is 23"
lower_alphabets = []
for ii in tttt:
    if ii in "abcdefghijklmnopqrst": #added both capital and lower case
        lower_alphabets.append(ii)
print(lower_alphabets)

['a', 'g', 'e', 'i', 's']

In [34]:
# 28. Swap the case of each character in a string.

u = "hello world"

print(u.swapcase())

HELLO WORLD

In [37]:
# 29. Remove a specific word from a string.

u = "hello world"
u.replace("world","")

'hello '

In [ ]:
# 30. Check if a string is a valid email address.

# not learned yet

In [40]:
# 31. Extract the username from an email address string.

v = "tapusharma166@gmail.com"

vv = v.split("@")

print(vv)

['tapusharma166', 'gmail.com']

In [42]:
username = vv[0]
print(username)

tapusharma166

In [43]:
# 32. Extract the domain name from an email address string.

v = "tapusharma166@gmail.com"

vv = v.split("@")

domain = vv[1]
print(domain)

gmail.com

In [ ]:
# 33. Replace multiple spaces in a string with a single space.

In [2]:
# 34. Check if a string is a valid URL.

w = str(input())

ww = w.split(".")

prefix = ww[0]
sufix = ww[2]

if prefix == "www" and sufix == "com":
    print(w, "is a valid URL")
else:
    print(w, "is not a valid URL")

 www.pwskills.com

www.pwskills.com is a valid URL

In [33]:
# 35. Extract the protocol (http or https) from a URL string.

w = str(input())

ww = w.split("//")

prefix = ww[0]


if prefix == "http" or prefix == "https":
    print(ww[1])
else:
    print(ww)

htpps//www.pwskills.com

"""not covered at all in lectures, its a pleasent request from team to include all this in class as many of 
individuals are working professionals and could not devote time in learning about these things from youtube. please
give assisgnmenrs from class covered syllabous only."""

 htpps//www.pwskills.com

['htpps', 'www.pwskills.com']

'not covered at all in lectures, its a pleasent request from team to include all this in class as many of \nindividuals are working professionals and could not devote time in learning about these things from youtube. please\ngive assisgnmenrs from class covered syllabous only.'

In [ ]:
print(prefix)

In [4]:
# 36 Find the frequency of each character in a string.

"""not covered at all in lectures, its a pleasent request from team to include all this in class as many of 
individuals are working professionals and could not devote time in learning about these things from youtube. please
give assisgnmenrs from class covered syllabous only"""

x = str(input())

frequency = {}

for i in x:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
        
for char, freq in frequency.items():
    print(f"'{char}':{freq}")

 Taapas Sharma

'T':1
'a':5
'p':1
's':1
' ':1
'S':1
'h':1
'r':1
'm':1

In [5]:
# 37. Remove all punctuation from a string.

y = str(input())

removed_puntuation = " "
for i in y:
    if i not in "!@#$%^&*<>?//*;:'.,[]{}*-+\_`":
        removed_puntuation += i
print(removed_puntuation)

 I am learning Data Science. I am not understanting most of it BUT! i will try my level best.

 I am learning Data Science I am not understanting most of it BUT i will try my level best

In [12]:
# 38. Check if a string contains only digits.

z = str(input())

digits = []
words = []
for i in z:
    if i in "1234567890":
        digits.append(i)
    else:
        words.append(i)
        
if len(digits) == len(z):
    print("strngs contains only digits")
else:
    print("strngs contains words & digits")

 3333

strngs contains only digits

In [25]:
# 39. Check if a string contains only alphabets.
z = str(input())

digits = []
alphabets = []

z_withoutspace = z.replace(" ","")
for i in z:
    if i in "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ":
        alphabets.append(i)
    else:
        digits.append(i)
        
if len(alphabets) == len(z_withoutspace):
    print("strngs contains only alphabets")
else:
    print("strngs contains alphabets & digits")

 My name is Taapas Sharma and i want to become data analyst

strngs contains only alphabets

In [26]:
# 40. Convert a string to a list of characters.

z = "pwskills"

z_list = list(z)

print(z_list)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [3]:
# 41 Check if two strings are anagrams.

z = str(input())
y = str(input())

z_fre = {}
y_fre = {}

for i in z:
    if i in z_fre:
        z_fre[i] += 1
    else:
        z_fre[i] = 1
        
for v in y:
    if v in y_fre:
        y_fre[v] += 1
    else:
        y_fre[v] = 1
        
if z_fre == y_fre:
    print(" are anagroms")
else:
    print("are not anagroms")

 elegant man
 a gentleman

 are anagroms

In [ ]:
# 42. Encode a string using a Caesar cipher.

In [ ]:
# 43. Decode a Caesar cipher encoded string.

In [14]:
# 44. Find the most frequent word in a string.

x = str(input())

words = x.split()
frequency= {}
for i in words:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
        
most_frequent = max(frequency, key = frequency.get)

print("most frequently used word is =", most_frequent )
print(" the frequency is =",frequency[most_frequent])

  taapas taapas where are you going

most frequently used word is = taapas
 the frequency is = 2

In [19]:
# 45 Find all unique words in a string.

x = str(input())

words = x.split()

unique = set(words)

print(unique)

  i am learning data science, it is difficut bu i should keep on trying. assignments are lengthy

{'learning', 'trying.', 'are', 'on', 'i', 'bu', 'lengthy', 'should', 'difficut', 'science,', 'it', 'data', 'is', 'assignments', 'am', 'keep'}

In [22]:
# 46. Count the number of syllables in a string.

x = str(input())

xx = x.split()

syllables = []
for i in xx:
    for ii in i:
        if ii in "aeiouAEIOU":
            syllables.append(ii)
            
print("Total number of syllables in a string are =" , len(syllables))

  i am curently woking in investment banking operations however i am interested in data analytics

Total number of syllables in a string are = 32

In [32]:
# 47. Check if a string contains any special characters.

x = str(input())

xx = x.split()

special = []
for i in xx:
    for ii in i:
        if ii in """!@#$%^&*()_"+=-][{};':,.<>/?/*-+""":
            special.append(ii)
            
if len(special) == 0:
    print("string do not contains special characters")
else:
    print("string contains special characters")

    i am curently woking in investment banking operations. however i am interested in data analytics

string contains special characters

In [30]:
print(len(special))

0

In [38]:
# 48. Remove the nth word from a string.

x = " Remove the nth word from a string"
xx = x.split()

n = int(input())

removed_x = xx.pop(n)

print(removed_x)

updated = ' '.join(xx)

print(updated)

 1

the
Remove nth word from a string

In [46]:
# 49. Insert a word at the nth position in a string.

x = " Remove the nth word from a string"

xx = x.split()
new_word = "please"

n = int(input())

if 0 <= n <= len(xx):
    xx.insert(n,new_word)
    
updated = ' '.join(xx)

print(updated)

 0

please Remove the nth word from a string

In [ ]:
# 50. Convert a CSV string to a list of lists.

In [3]:
# List Based Practice Problem :


# 1. Create a list with integers from 1 to 10.

a = [1,2,3,4,5,6,7,8,9,10]

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# 2. Find the length of a list without using the `len()` function.
count = 0
for i in a:
    count += 1

print(count)

10

In [14]:
# 3. Append an element to the end of a list.

b = 11

a.append(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [32]:
# 4. Insert an element at a specific index in a list.

b = 10.5

a.insert(10,b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10.5, 11]

In [33]:
# 5. Remove an element from a list by its value.

a.remove(10.5)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [38]:
# 6. Remove an element from a list by its index.

a.pop(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# 7. Check if an element exists in a list.

aa = a.count(1)

if aa <= 1:
    print("element exist in list")
else:
    print("element do not exist in list")

element exist in list

In [40]:
# 8. Find the index of the first occurrence of an element in a list.

a.index(9)

8

In [41]:
# 9. Count the occurrences of an element in a list.

a.count(10)

1

In [42]:
# 10. Reverse the order of elements in a list.

a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
# 11. Sort a list in ascending order.

a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 12. Sort a list in descending order.

a.sort(reverse=True)

In [48]:
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
# 13. Create a list of even numbers from 1 to 20.

b = list(range(2,21,2))
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
# 14. Create a list of odd numbers from 1 to 20.

b = list(range(1,20,2))
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
# 15. Find the sum of all elements in a list.

print(sum(b))

100

In [67]:
# 16. Find the maximum value in a list.

print(max(b))

19

In [68]:
# 17. Find the minimum value in a list.

print(min(b))

1

In [73]:
# 18. Create a list of squares of numbers from 1 to 10.

numbers = list(range(1,11))
sq = []
for i in numbers:
    if i in numbers:
        sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
# 19. Create a list of random numbers.

import random

In [79]:
random_list = [random.randint(1,100),for i in range(10)]
print(random_list)

SyntaxError: did you forget parentheses around the comprehension target? (1246228811.py, line 1)

In [85]:
# 20. Remove duplicates from a list.

a = [1,2,3,4,5,5,5,5,6,7,7,7,7,7,8,9,9,10,10]

removed_duplicate = set(a)

removed_duplicate_a = list(removed_duplicate)

print(removed_duplicate_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
# 21. Find the common elements between two lists.

a = [1,2,3,4,5,5,5,5,6,7,7,7,7,7,8,9,9,10,10]
b = [1, 2, 3, 4, 5, 6, "b", 8, 9, 10]

common = []

for i in b:
    if i in a:
        common.append(i)
print(common)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [88]:
# 22. Find the difference between two lists.

a = [1,2,3,4,5,5,5,5,6,7,7,7,7,7,8,9,9,10,10]
b = [1, 2, 3, 4, 5, 6, "b", 8, 9, 10]

uncommon = []

for i in b:
    if i not in a:
        uncommon.append(i)
print(uncommon)

['b']

In [89]:
# 23. Merge two lists.

print(a+b)

[1, 2, 3, 4, 5, 5, 5, 5, 6, 7, 7, 7, 7, 7, 8, 9, 9, 10, 10, 1, 2, 3, 4, 5, 6, 'b', 8, 9, 10]

In [93]:
# 24. Multiply all elements in a list by 2.
multiplied_list = []
for i in a:
    multiplied_list.append(i * 2)

print(multiplied_list)

[2, 4, 6, 8, 10, 10, 10, 10, 12, 14, 14, 14, 14, 14, 16, 18, 18, 20, 20]

In [98]:
# 25. Filter out all even numbers from a list.

even = []
for i in a:
    if i%2 == 0:
        even.append(i)

print(even)

[2, 4, 6, 8, 10, 10]

In [107]:
# 26. Convert a list of strings to a list of integers.

strings = ["1","2","3"]

list_of_int = []
for i in strings:
    list_of_int.append(int(i))
    
print(list_of_int)

[1, 2, 3]

In [110]:
# 27. Convert a list of integers to a list of strings.


lists = [1,2,3,4]

list_of_str = []
for i in lists:
    list_of_str.append(str(i))
    
print(list_of_str)

['1', '2', '3', '4']

In [ ]:
# 28. Flatten a nested list.

In [4]:
# 29. Create a list of the first 10 Fibonacci numbers.

Fibonacci = []
a,b = 0,1
for i in list(range(0,11)):
    Fibonacci.append(a)
    a,b = b,a+b
    

print(Fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [23]:
#30. Check if a list is sorted.

list_test = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]



if list_test == sorted(list_test):
    print(" List is already sorted")
else:
    print("list is not sorted")
    
print(list_test)

 List is already sorted
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [31]:
#31. Rotate a list to the left by `n` positions.

original_list = [1, 2, 3, 4, 5]
n = 2

if n < 0 or n >= len(original_list):
    print("Invalid rotation amount")
else:
    rotated_list = original_list[n:] + original_list[:n]
    print(rotated_list)

[3, 4, 5, 1, 2]

In [30]:
# 32. Rotate a list to the right by `n` positions.

original_list = [1, 2, 3, 4, 5]
n = 2

if n < 0 or n >= len(original_list):
    print("Invalid rotation amount")
else:
    rotated_list = original_list[-n:] + original_list[:-n]
    print(rotated_list)

[4, 5, 1, 2, 3]

In [44]:
# 33. Create a list of prime numbers up to 50.
prime = list(range(1,50,2))
print(prime)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 34. Split a list into chunks of size `n`.

list_test = [1,2,3,4,5,6,7,8]

for i in list_test:
    if len(list_test)/2 in list(range(0,100,2):
                                slpit(list_test)

In [7]:
# 35. Find the second largest number in a list.

x = list(input())

y = max(x)

for i in x:
    if i == y:
        x.remove(y)
        
print("second biggest number is=",max(x))

 1,2,3,4,5,6,7,8,9

second biggest number is= 8

In [15]:
# 36. Replace every element in a list with its square.

x = list(input())
sq = []
for i in x:
    if i == int:
        sq.append(i**2)
        
    
    

print(sq)

 2

[]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [20]:
# 38. Shuffle the elements of a list randomly.

list_test = [1,2,3,4,5,6,7,8,9]
import random

random.shuffle(list_test)

print(list_test)

[2, 5, 4, 3, 8, 1, 6, 9, 7]

In [1]:
# 39. Create a list of the first 10 factorial numbers.

factorial_list = []

for n in range(1, 11):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    factorial_list.append(factorial)

print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [11]:
# 40. Check if two lists have at least one element in common.

a = (input())
b = (input())
common = []
for i in a:
    if i in b:
        common.append(i)
        
if len(common) >=1:
    print(" two lists have at least one element in common ")
else:
    print(" two lists do note have at least one element in common ")

 1,2,3
 3,4,5

 two lists have at least one element in common

In [13]:
# 41. Remove all elements from a list.

a = [1,2,3,4]

a.clear()
print(a)

[]

In [17]:
# 42. Replace negative numbers in a list with 0.

a = [1,2,3,4,-1,-2]

for i in a:
    if i <= 0:
        a.(i)

print(a)

[1, 2, 3, 4, -2]

In [1]:
# 43. Convert a string into a list of words.

a = " abc"

a_list = list(a)

In [2]:
print(a_list)

[' ', 'a', 'b', 'c']

In [12]:
# 44. Convert a list of words into a string.

a = ["i", "want", "to", "learn", "data", "science"]

a_str = " ".join(a)

print(a_str)

i want to learn data science

In [22]:
# 45. Create a list of the first `n` powers of 2.
power_2 = []
n = 2**int(input())
for i in range(n):
    power_2.append(2**i)
    
print(power_2)

 2

[1, 2, 4, 8]

In [30]:
# 46. Find the longest string in a list of strings.

a = ["i", "want", "to", "learn", "data", "science"]
len_a  = " "
for i in a:
    if len(i) > len(len_a):
        len_a = i
        
print(" Longest String is", len_a)

 Longest String is science

In [31]:
# 47. Find the shortest string in a list of strings.

a = ["i", "want", "to", "learn", "data", "science"]
len_a  = " "
for i in a:
    if len(i) < len(len_a):
        len_a = i
        
print(" Shortest String is", len_a)

 Shortest String is

In [33]:
# Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5.

a = tuple(range(1,6))
print(a)

(1, 2, 3, 4, 5)

In [35]:
# 2. Access the third element of a tuple.
a = ("i", "want", "to", "learn", "data", "science")

print(a[2])

to

In [36]:
# 3. Find the length of a tuple without using the `len()` function.

a = ("i", "want", "to", "learn", "data", "science")
count = 0
for i in a:
    count += 1
    
print("length of a tuple = ",count)

length of a tuple =  6

In [38]:
# 4. Count the occurrences of an element in a tuple.

a = ("i", "want", "to", "learn", "data", "science")

print(a.count("i"))

1

In [39]:
# 5. Find the index of the first occurrence of an element in a tuple.

a = ("i", "want", "to", "learn", "data", "science")

a.index("want")

1

In [44]:
# 6. Check if an element exists in a tuple.

a = ("i", "want", "to", "learn", "data", "science")

if "to" in a:
           print("element exists in a tuple.")
else:
    print("element do not exists in a tuple.")

element exists in a tuple.

In [45]:
# 7. Convert a tuple to a list.

a = ("i", "want", "to", "learn", "data", "science")

aa = list(a)

print(aa)

['i', 'want', 'to', 'learn', 'data', 'science']

In [46]:
# 8. Convert a list to a tuple.

a = ["i", "want", "to", "learn", "data", "science"]

aa = tuple(a)

print(aa)

('i', 'want', 'to', 'learn', 'data', 'science')

In [5]:
# 9. Unpack the elements of a tuple into variables.

a = ("i", "want", "to", "learn", "data", "science")
aa = " ".join(a)
        
print(aa)

i want to learn data science

In [9]:
# 10. Create a tuple of even numbers from 1 to 10.

a = tuple(range(2,11,2))
print(a)

(2, 4, 6, 8, 10)

In [11]:
# 11. Create a tuple of odd numbers from 1 to 10.

a = tuple(range(1,10,2))
print(a)

(1, 3, 5, 7, 9)

In [12]:
# 12. Concatenate two tuples.

a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)
print(a+b)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [13]:
# 13. Repeat a tuple three times.
a = (2, 4, 6, 8, 10)

print(3*a)

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [18]:
# 14. Check if a tuple is empty.

a = ()

if len(a) == 0:
    print(" tuple is empty.")

 tuple is empty.

In [19]:
# 15. Create a nested tuple.

a = (1,2,3,(67,68,69),4,5)

In [23]:
# 16. Access the first element of a nested tuple.

print(a[3][0])

67

In [ ]:
# 17. Create a tuple with a single element.

a = ("taapas",)

In [24]:
# 18. Compare two tuples.

a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)

if a == b:
    print("A = B")
elif a != b:
    print("A not equal to B")
else:
    print("not comparable")

A not equal to B

In [25]:
# 19. Delete a tuple.

a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)

del a

print(a)

NameError: name 'a' is not defined

In [27]:
# 20. Slice a tuple.

b = (1, 3, 5, 7, 9)

sliced_tuple = b[2:5]

print(sliced_tuple)

(5, 7, 9)

In [28]:
# 21. Find the maximum value in a tuple.

b = (1, 3, 5, 7, 9)

print(max(b))

9

In [29]:
# 22. Find the minimum value in a tuple.
b = (1, 3, 5, 7, 9)

print(min(b))

1

In [31]:
# 23. Convert a string to a tuple of characters.

a = "hello"

aa = tuple(a)

print(aa)

('h', 'e', 'l', 'l', 'o')

In [37]:
# 24. Convert a tuple of characters to a string.

aa = ('h', 'e', 'l', 'l', 'o')
a = " ".join(aa)

print(a)

h e l l o

In [39]:
# 25. Create a tuple from multiple data types.

a = "hello"
b = 1,2,3
c = [1,2,3]
d = True

new_tuple = (a,b,c,d)
print(new_tuple)

('hello', (1, 2, 3), [1, 2, 3], True)

In [40]:
# 26. Check if two tuples are identical.

a = (1,2,3)
b = (1,2,3)

if a == b:
    print("A equal to B")

A equal to B

In [42]:
# 27. Sort the elements of a tuple.

a = (1,3,2,4,6,7,5,8)

sorted_a = sorted(a)

print(sorted_a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
# 28. Convert a tuple of integers to a tuple of strings.

a = (1,3,2,4,6,7,5,8)

NA

(1, 3, 2, 4, 6, 7, 5, 8)

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.

In [46]:
# 30. Merge two tuples.

a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)

merged = (a+b)

print(merged)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [47]:
# 31. Flatten a nested tuple.

a = (1,2,3,4,(5,6,7,8))

aa = split("(")

NameError: name 'split' is not defined

In [ ]:
# 32. Create a tuple of the first 5 prime numbers.

a = (1,2,3,5,7)

In [51]:
# 33. Check if a tuple is a palindrome.

a = (1,2,1)

if a[::-1] == a:
    print("tuple is a palindrome")
else:
    print("tuple is not a palindrome")

tuple is a palindrome

In [52]:
# 34. Create a tuple of squares of numbers from 1 to 5.

a = (1,2,3,4)
aa = []
for i in a:
    i == int
    aa.append(i**2)
    
sq_t = tuple(aa)

print(sq_t)

(1, 4, 9, 16)

In [58]:
# 35. Filter out all even numbers from a tuple.

a = (1,2,3,4,5,6,7,8,9)
even = []
for i in a:
    if i % 2 == 0:
        even.append(i)
even_t = tuple(even)

print(even_t)

(2, 4, 6, 8)

In [54]:
print(even)

[]

In [59]:
# 36. Multiply all elements in a tuple by 2.

a = (1,2,3,4,5,6,7,8,9)
multiple_2 = []
for i in a:
    multiple_2.append(i*2)
    
Tuple_mul2 = tuple(multiple_2)

print(Tuple_mul2)

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [63]:
# 37. Create a tuple of random numbers.

import random

a = tuple(random.sample(range(0,50),5))

print(a)

(8, 10, 2, 21, 3)

In [64]:
# 38. Check if a tuple is sorted.

if a == sorted(a):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is not sorted

In [ ]:
# 39. Rotate a tuple to the left by `n` positions.
# 40. Rotate a tuple to the right by `n` positions.

In [65]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
Fibonacci = []
a,b = 0,1

for i in range(0,5):
    Fibonacci.append(a)
    a,b  = b,a+b
    
Fibonacci_tuple = tuple(Fibonacci)

print(Fibonacci_tuple)

(0, 1, 1, 2, 3)

In [68]:
# 42. Create a tuple from user input.

a = input()

aa= tuple(a)

print(aa)

 1,2,3,4,5

('1', ',', '2', ',', '3', ',', '4', ',', '5')

In [7]:
# 43. Swap two elements in a tuple.

a = (1,2,3,4,5,6)

aa = list(a)

aa[0],aa[1] = aa[1],aa[0]

aa_t = tuple(aa)

print(aa_t)

(2, 1, 3, 4, 5, 6)

In [8]:
# 44. Reverse the elements of a tuple.

a = (1,2,3,4,5,6)

aa = list(a)

aa.reverse()

aa_t = tuple(aa)

print(aa_t)

(6, 5, 4, 3, 2, 1)

In [10]:
# 45. Create a tuple of the first `n` powers of 2.

power_2 = []
x = int(input())
n = 2**(x)

for i in range(x):
    power_2.append(2**i)
    
power_2_t = tuple(power_2)

print(power_2_t)

 4

(1, 2, 4, 8)

In [11]:
# 46. Find the longest string in a tuple of strings.
a = ("i", "want", "to", "learn", "data", "science")


len_a = " "

for i in a:
    if len(i) > len(len_a):
        len_a = i
print("largest string is -",len_a)

largest string is - science

In [13]:
# 47. Find the shortest string in a tuple of strings.
a = ("i", "want", "to", "learn", "data", "science")


len_a = " "

for i in a:
    if len(i) < len(len_a):
        len_a = i
print("Shortest string is -",len_a)

Shortest string is -

In [ ]:
# 48 Create a tuple of the first `n` triangular numbers.

In [7]:
# 49. Check if a tuple contains another tuple as a subsequence.

a = (1,2,3,(1,2,3))
aa = list(a)

aaa = []


for i in aa:
    if type(i) == tuple:
        aaa.append(i)
if len(aaa) <= 1:
    print("tuple contains another tuple as a subsequence.")
else:
    print("no it do not")

tuple contains another tuple as a subsequence.

In [8]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [10]:
# Set Based Practice Problem :

# 1. Create a set with integers from 1 to 5.

a = (1,2,3,4,5)
set_a  = set(a)
print(set_a)

{1, 2, 3, 4, 5}

In [11]:
# 2. Add an element to a set.

a = {1,2,3,4,5}

a.add(6)

In [12]:
print(a)

{1, 2, 3, 4, 5, 6}

In [13]:
# 3. Remove an element from a set.

a.remove(6)

In [14]:
print(a)

{1, 2, 3, 4, 5}

In [16]:
# 4. Check if an element exists in a set.

a = {1,2,3,4,5}
if 5 in a:
        print("elements exists")

elements exists

In [17]:
# 5. Find the length of a set without using the `len()` function.

count = 0
for i in a:
    count += 1
print(count)

5

In [18]:
# 6. Clear all elements from a set.

a.clear()

print(a)

set()

In [29]:
# 7. Create a set of even numbers from 1 to 10.

a = set(range(0,10,2))
         
print(a)

{0, 2, 4, 6, 8}

In [30]:
# 8. Create a set of odd numbers from 1 to 10.

a = set(range(1,10,2))

In [31]:
print(a)

{1, 3, 5, 7, 9}

In [34]:
# 9. Find the union of two sets.

a = {1,2,3}
b = {3,4,5}
union = a.union(b)

print(union)

{1, 2, 3, 4, 5}

In [33]:
# 10. Find the intersection of two sets.

a = {1,2,3}
b = {3,4,5}
intersection = []
for i in a:
    if i in b:
        intersection.append(i)

print(intersection)

[3]

In [40]:
# 11. Find the difference between two sets.

a = {1,2,3}
b = {3,4,5}
difference = a-b
print(difference)

{1, 2}

In [45]:
# 12. Check if a set is a subset of another set.

a = {1,2,3,4,5}
b = {3,4,5}

if b.issubset(a):
    print("True")
else:
    print("b is not a subset of a")

True

In [46]:
# 13. Check if a set is a superset of another set.

a = {1,2,3,4,5}
b = {3,4,5}

if a.issuperset(b):
    print("true")

true

In [47]:
# 14. Create a set from a list.

a = [1,2,3,4,5]

aa = set(a)

print(aa)

{1, 2, 3, 4, 5}

In [48]:
# 15. Convert a set to a list.
a = {1,2,3,4,5}

aa = list(a)

print(aa)

[1, 2, 3, 4, 5]

In [50]:
# 16. Remove a random element from a set.

a.remove(5)

print(a)

{1, 2, 3, 4}

In [56]:
# 17. Pop an element from a set.
a = {1,2,3,4,5}
a.pop(1)
print(a)

TypeError: set.pop() takes no arguments (1 given)

In [61]:
# 18. Check if two sets have no elements in common.

a = {1,2,3,4,5}
b = {6,7,8,9}
common = []
for i in a:
    if i in b:
        common.append(i)
        
if len(common) == 0:
    print("two sets have no elements in common")

two sets have no elements in common

In [66]:
# 19. Find the symmetric difference between two sets.

a = {1,2,3,4,5}
b = {6,7,8,9,10}

symmetric_difference = a | b & a - b
print(symmetric_difference)

{1, 2, 3, 4, 5}

In [69]:
# 20. Update a set with elements from another set.
a = {1,2,3,4,5}
b = {6,7,8,9,10}

for i in b:
    a.add(i)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
# 21. Create a set of the first 5 prime numbers.

primes = {2}
for i in range(3, 13):
  is_prime = True
  for j in primes:
    if i % j == 0:
      is_prime = False
      break
  if is_prime:
    primes.add(i)

print(primes)

{2, 3, 5, 7, 11}

In [74]:
# 22. Check if two sets are identical.

a = {1,2,3,4,5}
b = {1,2,3,4,5}

aa = a - b

if len(aa) == 0:
    print("two sets are identical")

two sets are identical

In [75]:
# 23. Create a frozen set.

a = {1,2,3,4,5}

aa = frozenset(a)

print(aa)

frozenset({1, 2, 3, 4, 5})

In [76]:
# 24. Check if a set is disjoint with another set.

A = {1, 2, 3, 4}
B = {5, 6, 7, 8}

is_disjoint = A.isdisjoint(B)

print(is_disjoint) # it help us understand no element is common

True

In [78]:
# 25. Create a set of squares of numbers from 1 to 5.
a = set(range(6))

sq = []
for i in a:
    sq.append(i**2)
sq_s = set(sq)    
print(sq_s)

{0, 1, 4, 9, 16, 25}

In [80]:
# 26. Filter out all even numbers from a set.

a = set(range(10))
even = []
for i in a:
    if i%2 == 0:
        even.append(i)

even_s = set(even)

print(even_s)

{0, 2, 4, 6, 8}

In [6]:
# 27. Multiply all elements in a set by 2.

a = set(range(10))
multiple = []
for i in a:
    multiple.append(2*i)
    
print(multiple)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
# 28. Create a set of random numbers.

import random
a = set(random.sample(range(0,50),10))
        
print(a)

{32, 34, 6, 41, 46, 17, 21, 23, 25, 27}

In [12]:
# 29. Check if a set is empty.

a = {}

count = 0
for i in a:
    count+= 1
    
if count == 0:
    print("set is empty")

set is empty

In [13]:
# 30. Create a nested set (hint: use frozenset).

numbers = frozenset([1, 2, 3])
letters = frozenset(['a', 'b', 'c'])
nested_set = frozenset([numbers, letters])

print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({'b', 'c', 'a'})})

In [19]:
# 31. Remove an element from a set using the discard method.

a = {0, 1, 4, 9, 16, 25}

a.discard(16)

print(a)

{0, 1, 4, 9, 25}

In [22]:
# 32. Compare two sets.

a = {0, 1, 4, 9, 16, 25}
b = {0, 1, 4, 9, 16, 25}

if a == b:
    print("equal")
elif a > b:
    print("a > b")
else:
    print("a < b")

equal

In [25]:
# 33. Create a set from a string.

a = "0", "1", "4", "9", "16", "25"
aa = []
for i in a:
        aa.append(int(i))
        
aa_set = set(aa)

print(aa_set)

{0, 1, 4, 9, 16, 25}

In [26]:
# 34. Convert a set of strings to a set of integers.
a = {"0", "1", "4", "9", "16", "25"}

aa = []

for i in a:
    aa.append(int(i))
    
aa_set = set(aa)

print(aa_set)

{0, 1, 4, 9, 16, 25}

In [27]:
# 35. Convert a set of integers to a set of strings.

a = {0, 1, 4, 9, 16, 25}

aa = []

for i in a:
    aa.append(str(i))
    
aa_set = set(aa)

print(aa_set)

{'4', '1', '0', '25', '16', '9'}

In [28]:
# 36. Create a set from a tuple.

a = (1,2,3,4,5)

aa = set(a)

print(aa)

{1, 2, 3, 4, 5}

In [29]:
# 37. Convert a set to a tuple.

a = {1, 2, 3, 4, 5}

aa = tuple(a)

print(aa)

(1, 2, 3, 4, 5)

In [30]:
# 38. Find the maximum value in a set.
a = {1, 2, 3, 4, 5}
aa = list(a)

print(max(a))

5

In [31]:
# 39. Find the minimum value in a set.

a = {1, 2, 3, 4, 5}
aa = list(a)

print(min(a))

1

In [32]:
# 40. Create a set from user input.

a = set(input())
print(a)

 1,2,3

{'2', '3', ',', '1'}

In [34]:
# 41. Check if the intersection of two sets is empty.

a = {1,2,3}
b = {4,5,6}

aa = a.intersection(b)
if len(aa) == 0:
    print("intersection of two sets is empty.")

intersection of two sets is empty.

In [46]:
# 42. Create a set of the first 5 Fibonacci numbers.
Fibonacci = []
a,b = 0,1
for i in range(0,5):
    Fibonacci.append(a)
    a,b = b,a+b
        
Fibonacci_set = set(Fibonacci)


print(Fibonacci_set)

{0, 1, 2, 3}

In [47]:
# 43. Remove duplicates from a list using sets.

a = [1,1,2,2,3,3,4,4,5,5]

a_removed_duplicated = set(a)

print(a_removed_duplicated)

{1, 2, 3, 4, 5}

In [50]:
# 44. Check if two sets have the same elements, regardless of their count.

a = {0, 1, 2, 3}
b = {1, 2, 3, 4, 5}

aa = a.difference(b)

In [51]:
print(aa)

{0}

In [1]:
# 45. Create a set of the first `n` powers of 2.
power_2 = []
x = int(input())
n = 2**(x)

for i in range(x):
    power_2.append(2**i)
    
power_2_set = set(power_2)

print(power_2_set)

 5

{1, 2, 4, 8, 16}

In [4]:
# 46. Find the common elements between a set and a list.

set_a = {1, 2, 3}
list_a = [1, 2, 4]

common = set_a.intersection(set(list_a))

print(common)

{1, 2}

In [11]:
# 48. Check if a set contains another set as a subset.

a = {1,2,3,4,5}
b = {1,2,3,4,5,6,7,8,9,10}

if a.issubset(b):
    print("set a contains another set b as a subset")
elif b.issubset(a):
    print("set b contains another set a as a subset")
else:
    print("no subset")

set a contains another set b as a subset

In [9]:
# 50. Merge multiple sets into one.

set_a = {1, 2, 3}
set_b = {4, 5, 6}

merged = set_a.union(set_b)

print(merged)

{1, 2, 3, 4, 5, 6}